<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- CSRF -->
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <title>Login</title>
</head>
<body>
<p>Username: <input name="username" id="username" type="text"/></p>
<p>Password: <input name="password" id="password" type="password"/></p>
<p>
  <button type="submit" id="submit">Login</button>
</p>
</body>
<script>
  const csrf = document.getElementsByName('_csrf')[0].getAttribute('content');
  const csrfHeader = document.getElementsByName('_csrf_header')[0].getAttribute('content');

  document.getElementById('submit').addEventListener('click', () => {
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    let error = '';
    if (!username) error = 'Username cant be empty.';
    else if (!password) error = 'Password cant be empty.';

    if (error) {
      alert(error);
      return;
    }

    const formData = new FormData();
    formData.append('username', username);
    formData.append('password', password);
    fetch('/api/account/login', {
      method: 'post',
      headers: {
        [csrfHeader]: csrf,
      },
      body: formData
    }).then(res => res.json()).then(res => {
      if (res.message) {
        alert(res.message);

        if (res.code === 0) location.href = '/';
      }
    });
  }, !1);
</script>
</html>
